* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 10px;
}

/* SLIDESHOW */
.slides img.active {
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

.slideshow {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.slides {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
}
.slides img {
    position: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}
.slideshow .arrows {
    padding: 1rem;
    color: rgba(255, 255, 255, 0.750);
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.arrows .arrow-next svg,
.arrows .arrow-back svg {
    cursor: pointer;
    stroke-width: 3.5px;
    height: 36px;
    width: auto;
}
.slideshow .dots {
    padding-right: 2rem;
    position: absolute;
    top: 75%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.dots .dot {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.250);
    width: 14px;
    height: 14px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.750);
}

